body {
    background-color:black;
}
h1{
    color:black;
}
div{
    width:auto;
    height: auto;
    background-color: white;
}
.calc{
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
}
.slidecontainer {
    width: 50%; 
  }
  
.slider {
    width: 50%; 
    height: 25px; 
    background: #d3d3d3; 
    outline: none;
    opacity: 0.7; 
    transition: opacity .2s;
    display: inline;
  }
  

  .slider:hover {
    opacity: 1; 
  }
  
